@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#101820;
color:white;
min-height:100vh;
}

nav{

height:70px;
background:#181818;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 40px;
box-shadow:0 2px 10px rgba(0,0,0,.4);

}

.logo{

font-size:30px;
font-weight:700;

}

#soundBtn{

background:none;
border:none;
font-size:30px;
cursor:pointer;

}

.gameContainer{

width:90%;
margin:50px auto;

display:flex;
justify-content:center;
align-items:center;
gap:80px;

}

.container{

display:grid;

grid-template-columns:repeat(3,120px);
grid-template-rows:repeat(3,120px);

}

.box{

border:3px solid #3b82f6;

display:flex;
justify-content:center;
align-items:center;

font-size:70px;
font-weight:bold;

cursor:pointer;

transition:.3s;

}

.box:hover{

background:#1b263b;

}

.gameInfo{

width:350px;

}

.gameInfo h1{

margin-bottom:25px;

}

.scoreBoard{

display:flex;
justify-content:space-between;

background:#181818;

padding:15px;

border-radius:10px;

margin-bottom:25px;

font-weight:600;

}

.info{

font-size:20px;
font-weight:600;

display:block;

margin-bottom:20px;

}

.btns{

display:flex;
gap:15px;

}

button{

padding:12px 20px;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

font-weight:600;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

#reset{

background:#22c55e;

}

#newGame{

background:#3b82f6;
color:white;

}

.image{

margin-top:30px;
text-align:center;

}

.image img{

width:0;
transition:1s;

}

.bt-0{

border-top:none;

}

.bb-0{

border-bottom:none;

}

.bl-0{

border-left:none;

}

.br-0{

border-right:none;

}

/* Tablet */

@media(max-width:900px){

.gameContainer{

flex-direction:column;

gap:40px;

}

.container{

grid-template-columns:repeat(3,100px);
grid-template-rows:repeat(3,100px);

}

.box{

font-size:60px;

}

.gameInfo{

width:100%;
text-align:center;

}

.btns{

justify-content:center;

}

}

/* Mobile */

@media(max-width:500px){

nav{

padding:0 15px;

}

.logo{

font-size:22px;

}

.container{

grid-template-columns:repeat(3,85px);
grid-template-rows:repeat(3,85px);

}

.box{

font-size:50px;

}

.scoreBoard{

flex-direction:column;

gap:10px;

}

.btns{

flex-direction:column;

}

button{

width:100%;

}

}
